body{
    background-image:url("wood-cube-abc-cube-letters-48898.jpeg");
    background-repeat: no-repeat;
    background-size: 3000px;
}
@media screen and (max-width:600px){
    body{
        background-size: 1000px; 
        display: flex;
    }
}
#container{
    width: 800px;
    height: 600px;
    border: 1px 10px solid;
    margin: 30px 0 0 200px;
    border-radius: 50px;
    background-color: rgba(243, 205, 107,0.5);
}
    @media screen and (max-width:600px){
        #container{
            width: 300px;
            height:500px;
            margin:  50px 0 0 50px;
        }
    }
#title{
    text-transform: uppercase;
    background-color: bisque;
    width: 300px;
    height: 40px;
    border: 1px 15px solid;
    margin: 5px 0 0 250px;
    text-align: center;
    font-size: 40px;
color: goldenrod;
}
@media screen and (max-width:600px){
    #title{
        font-size: 20px;
        width: 100px;
        margin: 5px 0 0 100px;
    }
}

#main{
    display:flex;
   
   }
   @media screen and (max-width:600px){
       #main{
           display: block;
       }
       
   }
   
#guide{
    width: 250px;
    height: 300px;
    border: 1px 8px 15px solid;
    color: goldenrod;
    background-color: rgba(141, 15, 15, 0.6);
    margin-top: 80px;
    margin-left: 20px;
    border-radius: 10px;
}
@media screen and (max-width:600px){
    #guide{
        width:200px;
        height: 80px;
        margin-top: 10px;
    }
}

#genWord {
    width: 400px;
    height: 60px;
    font-size: 30px;
    border: none;
    box-shadow: 5px 10px 8px goldenrod, -5px -10px 8px goldenrod;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 150px;
    text-align: center;
    color: goldenrod;
}
@media screen and (max-width:600px){
    #genWord div{
        width: 3px;
        height: 10px;
        font-size: 10px;
        padding: 0;0
        margin: ;
    }
    #genWord{
        width: 280px;
        height: 30px;
        margin: 20px 0 0 0px;
    }
}
#count{
    color: rgb(128, 105, 0);
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
}
@media screen and (max-width:600px){
    #count{
        font-size: 10px;
    }
}
#output {
    margin-left: 30px;
    margin-top: 30px;
    width: 500px;
    height: 280px;
    border: 1px solid #e7a618;
    box-shadow: 3px 3px 8px rgb(114, 10, 18), -3px -3px 8px  rgb(114, 10, 18);
    border-radius: 40px;
    color: rgb(114, 81, 37);
  
}
@media screen and (max-width:600px){
    #output{
        width: 250px;
        height: 200px;
        margin: 5px 0 0 20px;
    }
    #output div{
        width: 200px;
        height: 40px;
        margin-left: 20px;
    }
}

#threeletter {
    width: 400px;
    height: 60px;
    border: none;
    margin-top: 30px;
    margin-left:40px;
    display: flex;
    box-shadow: 1px 1px 8px goldenrod, -1px -1px 8px goldenrod;
}
@media screen and (max-width:600px){
    .letIn div{
width: 5px;
height: 5px;
font-size: 5px;
    }
}


#fourletter {
    width: 400px;
    height: 60px;
    border: none;
    margin-top: 20px;
    margin-left:40px;
    display: flex;
    box-shadow: 1px 1px 8px goldenrod, -1px -1px 8px goldenrod;
}

#fiveletter {
    width: 400px;
    height: 60px;
    border: none;
    margin-top: 20px;
    margin-left:40px;
    box-shadow: 1px 1px 8px goldenrod, -1px -1px 8px goldenrod;
}
#myForm{
    margin-top: 20px;
    margin-left:80px;
}
#myInput{
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background-color: rgb(240, 214, 182);
   
}
input:focus{
    outline: none;
}
#btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
  background-color: #ecbf5c;
}
@media screen and (max-width:600px){
    #myForm{
        margin: 5px 0 0 18px;
    }
    #myInput{
        height: 10px;
        font-size: 10px;
        width:100px;
    }
    #btn{
        width:30px;
        height: 30px;
font-size: 5px;
    }}
#btn:hover,
#btn:focus{
   background-color: rgb(95, 17, 17);
    color:rgb(245, 214, 173);
}